body{
background-color:#fff;
text-align: center;
vertical-align: text-bottom;
font-family: 'Roboto', sans-serif;
}

h1{
font-family: 'Alfa Slab One', cursive;
font-size: 4rem;
margin-top: 8%;
margin-bottom: 8%;
}

#generateBtn{
margin: 3% 0 5% 0;
}

.alert {
    display:inline-block;
    margin-right: 10px;
  }

.MiddleSection{
    margin: 8% 3% 3% 3%;
}

.pastSection{
    margin-top: 5%;
   margin-bottom: 10%;
}

/* .AllList{
    margin: auto;
} */
.closeAlertBtn{
    margin-left: 20px;
    margin-right: 0;
}
.modal-content {
    height: 100%; 
  }

.modal-body {
    font-size: 5rem;
}

footer{
    margin: 10% 0 5% 0;
}