body{
background-color:#fff;
text-align: center;
vertical-align: text-bottom;
font-family: 'Roboto', sans-serif;
}

h1{
font-family: 'Alfa Slab One', cursive;
font-size: 4rem;
margin-top: 3%;
margin-bottom: 3%;
}

#generateBtn{
margin: 2% 0 2% 0;
}

.alert {

 }

.MiddleSection{
    margin: 3% 3% 3% 3%;
}

.AllList{
    margin: auto;
}

.modal-content {
    height: 100%; 
  }

.modal-body {
    font-size: 5rem;
}

footer{
    margin: 3% 0 3% 0;
}